<h3>Latest statistics</h3>
<div class="row">
<div class="col-lg-3 col-md-6 ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ user_count }}</div>
                    <div>New Users!</div>
                </div>
            </div>
        </div>
        <a href="{{ url_for('auth.register') }}">
            <div class="panel-footer">
                <span class="pull-left">Register</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6 ">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ location_count }}</div>
                    <div>New Locations!</div>
                </div>
            </div>
        </div>
        <a href="{{ url_for('auth.login', next='/weather/locations') }}">
            <div class="panel-footer">
                <span class="pull-left">Browse Locations</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6 ">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">2</div>
                    <div>New Graphs!</div>
                </div>
            </div>
        </div>
        <a href="{{ url_for('auth.login', next='/dashboard') }}">
            <div class="panel-footer">
                <span class="pull-left">View Dashboard</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6 ">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-support fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ weather_count }}</div>
                    <div>Weather records!</div>
                </div>
            </div>
        </div>
        <a href="{{ url_for('auth.login', next='/dashboard') }}">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
    </div>